.dark-mode-icon {
  margin-left: 1vw;
}

.top-margin {
  margin-top: 64px;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  margin-top: 2vh;
  background-color: #999;
  height: 20vh;
}
